body {
      font-family: "Quattrocento", serif;
  font-weight: 400;
  font-style: normal;
  background-color: antiquewhite;
  margin: 0;
  padding: 0;
}
header{
    background-color: whitesmoke;
    padding:24px 0;
    color: chocolate;
}
